<h5>
    {{session.userId}}
    {{session.user.fullname}}
    q_usermodule
    <ul>
        {{#each q_usermodule}}
        <li>{{this.moduleId}} {{#loud this.moduleName}}{{/loud}}</li>
        {{/each}}
    </ul>
    {{#if session.pm_admin}}
    p_admin
    <ul>
        {{#each q_usermodule2}}
        <li>{{this.moduleId}} {{#loud this.moduleName}}{{/loud}}</li>
        {{/each}}
    </ul>
    {{/if}}
    q_users
    <ul>
        {{#each q_users}}
        <li>{{this.userId}} {{#loud this.fullname}}{{/loud}}</li>
        {{/each}}
    </ul>
</h5>