<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h5 class="float-left">Daftar user</h5>
            <a class="btn btn-primary float-right" href="/users/add"><i class="fa fa-plus"></i></a>
        </div>
        <div class="card-body p-1">
            <table class="table table-super-condensed table-striped">
                <thead class="bg-primary text-white">
                    <th>UID</th>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>hak akses</th>
                    <th></th>
                </thead>
                <tbody>
                    <% q_user.forEach(row => { %>
                     <tr>
                         <td><%= row.userId %> </td>
                         <td><%= row.fullname %> </td>
                         <td><%= row.email %> </td>
                         <td><%= row.moduleName %> </td>
                         <td class="text-right">
                             <a href="/profile/<%= row.userId %> " class="btn btn-xs btn-warning text-dark"><i class="fa fa-edit"></i></a>
                             <a onClick="return confirm('<%= constant.MY_DATADELETECONFIRM %> ')" href="/users-delete/<%= row.userId %>" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></a>
                         </td>

                     </tr>
                    <% }) %>
                </tbody>

            </table>
        </div>
    </div>

</div>